<div class="container">
  <button
    type="button"
    class="btn btn-primary"
    (click)="openModalFormBook('Adicionar')"
    style="margin-bottom: 15px"
  >
    <i class="fas fa-plus" style="margin-right: 8px"></i>
    Adicionar Livro
  </button>

  <div class="row">
    <div class="col-6" *ngFor="let item of books">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="{{ item.bookCover }}" class="card-img" alt="..." />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ item.title }}</h5>
              <p class="card-text">
                Gênero: {{ item.genres }}
                <br />
                Autor: {{ item.author }}
                <br />
                Editora: <i>{{ item.publishingCompany }}</i>
              </p>
              <p class="card-text">
                <small class="text-muted">{{
                  item.publicationDate | date: 'dd/MM/yyyy'
                }}</small>
              </p>
              <button
                type="button"
                class="btn btn-outline-primary"
                (click)="edit(item)"
                style="position: absolute; top: 50px; right: 5px;"
              >
                <i class="fas fa-pencil-alt"></i>
              </button>

              <button
                type="button"
                class="btn btn-outline-danger"
                (click)="delete(item)"
                style="position: absolute; top: 5px; right: 5px; padding-left: 13px;
                padding-right: 13px;"
              >
                <i class="fas fa-trash-alt"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
