<div class="container">
  <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <i class="far fa-hand-point-up" style="color: #f0ad4e"></i>
      Livraria Digital
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#textoNavbar"
      aria-controls="textoNavbar"
      aria-expanded="false"
      aria-label="Alterna navegação"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="textoNavbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="" routerLinkActive="active">
            <i class="fas fa-house-damage"></i>
            Página Principal
            <span class="sr-only">(Página atual)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/livros" routerLinkActive="active">
            <i class="fas fa-stream"></i>
            Livros
          </a>
        </li>
      </ul>
      <span class="navbar-text" style="color: #f0ad4e">
        Case técnico | Édipo Juan
      </span>
    </div>
  </nav>
  <div style="margin-top: 70px">
    <router-outlet></router-outlet>
  </div>
  <notifier-container></notifier-container>
</div>
